/* COLOR PALLETE - from coolors https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff ****************************** 
#000000 - black
#14213D - dark blue
#FCA311 - gold
#E5E5E5 - gray
#FFFFFF - white
*/

/* GOOGLE FONTS ****************************** 
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
*/

/* GLOBAL STYLES ****************************** 
*/
* {
    margin: 0;
    font-family: 'Merriweather', serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 100px;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #14213D;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2em;
    margin: 20px 0px;
}

h3 {
    font-size: 1.5em;
    margin: 20px 0px;
}

/* NAV BAR ****************************** 
*/
nav {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
}

.navLinks li {
    list-style-type: none;
    padding: 0 1em;
    font-size: 1.5em;
}

.navLinks a {
    text-decoration: none;
    color:#FCA311;
}

.navLinks a:hover {
    color: #E5E5E5;
}

.hamburgerNav {
    color: #FCA311;
    display: none;
}

/* ABOUT ME ****************************** 
*/
#aboutMe {
    display: flex;
}

.profile {
    width: 35%;
    margin: 150px 50px;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.aboutMe {
    width: 65%;
    margin: 150px 50px;
}

.aboutMe h2 {
    margin-bottom: 10px;
}

.aboutMe ul li{
    margin: 40px;
    font-size: 1.25em;
}

.aboutMeAndPic {
    display: flex;
}

.painting img{
    height: 400px;
}

/* PROJECTS ****************************** 
*/
#projects {
    margin: 10px 100px;
}

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid black;
    width: 500px;
    margin: 20px;
    padding: 10px;
}

.project img {
    height: 300px;
    width: 500px;
    object-fit: contain;
}

.project p {
    margin: 10px 0px;
}

/* CONTACT ****************************** 
*/
#contact {
    margin: 100px 100px;
}

.contacts h2{
    margin: 150px;
}

/* FOOTER ****************************** 
*/
footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/* RESPONSIVE DESIGN ****************************** 
*/
@media only screen and (max-width: 1100px) {
    .hamburgerNav {
        display: block;
    }
    
    .navLinks {
        display: none;
    }
    
    .displayNav {
        display: flex;
    }

    #aboutMe {
        flex-direction: column;
    }

    .profile, .aboutMe {
        width: 100%;
    }

}

