/* COLOR PALLETE - from coolors https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff ****************************** 
#000000 - black
#14213D - dark blue
#FCA311 - gold
#E5E5E5 - gray
#FFFFFF - white
*/

/* GOOGLE FONTS ****************************** 
font-family: 'Lora', serif;
font-family: 'Merriweather', serif;
*/

/* GLOBAL STYLES ****************************** 
*/
* {
    margin: 0;
    font-family: 'Merriweather', serif;
}

html {
    scroll-behavior: smooth;
}

section {
    padding-top: 100px;
}

h1, h2, h3 {
    font-family: 'Lora', serif;
    color: #14213D;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

/* NAV BAR ****************************** 
*/
nav {
    background-color: black;
    position: fixed;
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    font-family: 'Lora', serif;
}

.navName {
    font-size: 2em;
    color: white;
}

.navLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navLinks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    top: 50%;
}

.navLinks li {
    list-style-type: none;
    padding: 0 1em;
}

.navLinks a {
    text-decoration: none;
    color:#FCA311;
}

.navLinks a:hover {
    color: #E5E5E5;
}

.hamburgerNav {
    color: #FCA311;
    display: none;
}

/* ABOUT ME ****************************** 
*/
.info {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.info h1 {
    grid-column: 1 / 4;
    grid-row: 1;
    text-align: center;
}

.profile {
    grid-column: 1;
    grid-row: 2 / 4;
    text-align: center;
}

.profile img {
    border-radius: 50%;
    width: 300px;
}

.summary {
    grid-column: 2;
    grid-row: 2;
}

.links {
    grid-column: 2;
    grid-row: 3;
}

.funFacts {
    grid-column: 3;
    grid-row: 2 / 4;
}

.funFacts img {
    width: 300px;
}

/* PROJECTS ****************************** 
*/
#projects {
    margin: 10px 100px;
}

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid black;
    width: 500px;
    margin: 20px;
}

.project img {
    height: 300px;
    width: 500px;
    object-fit: contain;
}

/* SKILLS ****************************** 
*/
#skills {
    margin: 100px;
}

.skillsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
}

.skill {
    width: 400px;
    margin: 20px;
    text-align: center;
}

/* FOOTER ****************************** 
*/
footer {
    background-color: black;
    color: white;
    padding: 10px;
}

/* RESPONSIVE DESIGN ****************************** 
*/
@media only screen and (max-width: 1100px) {
    h1 {
        font-size: 2em;
        text-align: center;
    }

    h2 {
        font-size: 1.5em;
    }
    nav {
        display: block;
    }

    .topNavRow {
        display: flex;
        justify-content: space-around;
    }

    .navName {
        font-size: 1.5em;
    }

    .hamburgerNav {
        display: block;
    }

    .navLinks {
        display: none;
    }

    .navLinks ul {
        padding: 0;
    }

    .navLinks ul li {
        padding-top: 10px;
    }

    .displayNav {
        display: flex;
    }

    .info {
        margin: 25px;
        display: block;
    }

    .profile {
        margin: 30px;
    }
    
    .profile img {
        border-radius: 50%;
        width: 200px;
    }
    
    .info div {
        margin: 20px 5px;
    }
    
    .funFacts img {
        width: 200px;
    }

    #projects {
        margin: 10px 10px;
    }
    
    .project {
        border: 1px solid black;
        width: 300px;
        margin: 20px;
    }
    
    .project img {
        width: 300px;
        object-fit: contain;
    }

    #skills {
        margin: 10px;
    }
    
    .skillsWrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
    }
    
    .skill {
        width: 300px;
        margin: 20px;
        text-align: center;
    }

}