<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/aboutme.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html" class="current">About Me</a></li>
                <li><a href="resources.html">Favorite Resources</a></li>
                <li><a href="projects.html">Projects</a></li> 
                <li><a href="resume.html">Resume</a></li>
            </ul>
        </nav>
        
        <h1>About Me</h1>
    </header>

    <div id="wrapper">
        <div class="div" id="background">
            <h2>Computer Science Background</h2>
            <p>Hello! My name is Christina Wilson. I am a computer science student from Oregon State University set to graduate in March 2022. I am looking to get my feet wet in the computer science field and am interested in all opportunities!</p>
            <p>So far, I have particularly liked learning web development (hence why I decided to make my personal website from scratch!).</p>

            <p>I have taken the following computer science courses:</p>
            <ul>
                <li>Intro to Computer Science I and II</li>
                <li>Elements of Discrete Mathematics</li>
                <li>Computer Architeture and Assembly Language</li>
                <li>Data Structures</li>
                <li>Web Development</li>
                <li>Introduction to Databases</li>
                <li>Analysis of Algorithms</li>
                <li>Operating Systems I</li>
                <li>Intro to Parallel Programming</li>
                <li>Software Engineering I</li>
                <li>Intro to Computer Networking</li>
            </ul>

            <p>Currently I am taking the following courses:</p>
            <ul>
                <li>Software Engineering II</li>
                <li>Intro to Security</li>
            </ul>
        </div>

        <div class="div" id="facts">
            <h2>Fun Facts!</h2>
            <ul>
                <li>I have a bachelor's degree in Biology and a doctorate degree in Pharmacy. I decided that I needed a career change and discovered that Oregon State University has a lovely post-baccehlorate degree program for students, like me, who have a bachelors degree and want another degree.</li>
                <li>My favorite hobbies are playing video games, gardening, painting. Some of my favorite games include Persona 5 Royal, Xenoblade Chronicles, and Paper Mario: The Thousand Year Door.</li>
            </ul>

        </div>

        <div class="div" id="resume">
            <h2>Links to Resume and Professional Profiles</h2>
            <ul>
                <li>Download resume pdf: <a href="/files/Resume.pdf ">Resume</a></li>
                <li>Go to my LinkedIn profile page: <a href="https://www.linkedin.com/in/christinawilson/">LinkedIn</a></li>
                <li>Go to my GitHub profile page: <a href="https://github.com/WilsonCN14">GitHub</a></li>
            </ul>
        </div>
    </div>
</body>
</html>