<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/aboutme.css">
</head>
<body>
    <div class="pagewrap">
        <nav>
            <a href="../index.html">Christina's Website</a>
            <a href="aboutme.html" class="current">About Me</a>
            <a href="projects.html">Projects</a>
            <a href="resources.html">Favorite Resources</a>
            <a href="resume.html">Resume</a>
            <p>&copy; Christina Wilson January 7, 2022</p>
        </nav>
    
        <div class="maincontent">
            
            <h1>About Me</h1>

            <div id="aboutmewrapper">

                <div id="background">
                    <h2>Computer Science Background</h2>
                    <p>I am a computer science student from Oregon State University set to graduate in March 2022.</p>
                    <p>I am interested in web development, mobile development, and game development.</p>
        
                    <p>I have taken the following computer science courses:</p>
                    <ul>
                        <li>Intro to Computer Science I and II</li>
                        <li>Elements of Discrete Mathematics</li>
                        <li>Computer Architeture and Assembly Language</li>
                        <li>Data Structures</li>
                        <li>Web Development</li>
                        <li>Introduction to Databases</li>
                        <li>Analysis of Algorithms</li>
                        <li>Operating Systems I</li>
                        <li>Intro to Parallel Programming</li>
                        <li>Software Engineering I</li>
                        <li>Intro to Computer Networking</li>
                        <li>Software Engineering II</li>
                        <li>Intro to Security</li>
                    </ul>
        
                    <p>Currently I am in my last term and am taking the following courses:</p>
                    <ul>
                        <li>Online Capstone Project</li>
                        <li>Mobile Software Development</li>
                    </ul>
                </div>
        
                <div id="funfacts">
                    <h2>Fun Facts!</h2>

                    <p>I have a bachelor's degree in Biology and a doctorate degree in Pharmacy. Switching to computer science has been a big career change but I have no regrets!</p>

                    <p>My favorite hobbies are playing video games, gardening, and acrylic painting.</p>

                    <div id="painting">
                        <img src="../images/Passo di Giau Painting 10-25-2021.jpg" alt="Painting of Passo di Giau">
                        <p>Reference I used for painting: <a href="https://unsplash.com/photos/yJ_KZkPYTJM">Unsplash</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</body>
</html>