<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Homepage</a></li>
                <li><a href="aboutme.html">About Me</a></li>
                <li><a href="resources.html">Favorite Resources</a></li>
                <li><a href="projects.html" class="current">Projects</a></li> 
                <li><a href="resume.html">Resume</a></li>
            </ul>
        </nav>
        
        <h1>My Projects</h1>
    </header>

    <div id="wrapper">
        <div class="div">
            <h2>Current Project</h2>
            <ul>
                <li>My latest project has been this website, which is finally done!</li>
                <li>For my next project, I have two ideas that I keep going back and forth on.</li>
                <ul>
                    <li>One idea is a gardening app. Every winter, I plan out my garden for spring and I have a hard time mapping out what I am going to plant and whaere I want to plant it. There are gardening apps already available that allows users to draw out their garden and put pictures of the vegetables they want on the garden. However, I haven't found one to my liking so I have been considering making one myself.</li>
                    <li>Another idea is for a video game. I love video games and have wanted to make one for years but did not have the confidence to even try. I have talked to several people who informed me that even if it does not turn out great, making a video game myself would be an excellent learning experience so now I feel empowered enough to try. My favorite genre is fantasy RPGs so I would likely make in that genre.</li>
                </ul>
            </ul>
        </div>

        <div class="div">
            <h2><a href="projects/gardening/homepage.html">Christina's Gardening Website</a></h2>
            <ul>
                <li>For my Web Development course, I created a toy gardening website. It contains pictures of my garden, a fake form to sumbit information, and a picture carousel on the homepage.</li>
                <li>Click <a href="https://github.com/WilsonCN14/Gardening-Website">here</a> to check out my code on github.</li>
            </ul>
        </div>

        <div class="div">
            <h2>Mastermind</h2>
            <ul>
                <li>I created a Mastermind board game using Python. In the game Mastermind, the computer randomly places four colored pegs in a row and the player has six guesses to guess which color and which order each peg is in. To help the player guess the correct colored sequence, after the player makes a guess, the computer shows the player a number of black pegs that represents the number of pegs in the correct color and position and a number of white pegs that represents the number of pegs in the correct color but not the correct position. Wikipedia has an excellent article on it <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)">here</a></li>
                <li>In my game, the player can either play the game on the command line or watch the computer play against itself.</li>
                <li>The code can be found <a href="https://github.com/WilsonCN14/Mastermind">on GitHub</a>.</li>
            </ul>
        </div>
    </div>
</body>
</html>