<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <div class="pagewrap">
        <nav>
            <a href="../index.html">Christina's Website</a>
            <a href="aboutme.html">About Me</a>
            <a href="projects.html" class="current">Projects</a>
            <a href="resources.html">Favorite Resources</a>
            <a href="resume.html">Resume</a>
            <p>&copy; Christina Wilson January 26, 2022</p>
        </nav>
    
        <div class="maincontent">
            <h1>My Projects</h1>

            <div id="projectswrapper">
                <div class="project">
                    <h2 class="projectname">The Floor is Lava!</h2>
                    <img src="../images/The Floor is Lava.jpg" style="width: 100%" alt="The Floor is Lava! screenshot">
                    <div class="projectlanguage">Game Engine: Unity</div>
                    <div class="projectdescription">
                        <p>Followed tutorial on Unity Essentials to create a ball rolling simulator where ball has to avoid lava.</p>
                    </div>
                    <div class="play">Play project <a href="https://play.unity.com/mg/other/buildfiles-21">here</a></div>
                </div>

                <div class="project">
                    <h2 class="projectname">Mastermind</h2>
                    <img src="../images/Mastermind.jpg" style="width: 100%" alt="Mastermind image">
                    <div class="projectlanguage">Programming Language: Python</div>
                    <div class="projectdescription">
                        <p>Command line game where computer randomly places 4 colored pegs in a row and the player has 6 guesses to guess which which color and which order each peg is in.</p>
                        <p>Details on rules are on <a href="https://en.wikipedia.org/wiki/Mastermind_(board_game)">Wikipedia</a></p>
                    </div>
                    <div class="projectcode">View code on <a href="https://github.com/WilsonCN14/Mastermind">GitHub</a></div>
                </div>

                <div class="project">
                    <h2 class="projectname">Gardening Website</h2>
                    <img src="../images/Gardening Website.jpg" style="width: 100%" alt="Mastermind image">
                    <div class="projectlanguage">Programming Language: HTML/CSS/JavaScript</div>
                    <div class="projectdescription">
                        <p>Toy gardening website containing pictures of my garden, a fake form to submit information, and a picture carousel on the homepage></p>
                    </div>
                    <div class="projectcode">View code on <a href="https://github.com/WilsonCN14/Gardening-Website">GitHub</a></div>
                </div>

            </div>
    
        </div>
    
    </div>

</body>
</html>