<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Resources</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/resources.css">
</head>
<body>
    <div class="pagewrap">
        <nav>
            <a href="../index.html">Christina's Website</a>
            <a href="aboutme.html">About Me</a>
            <a href="projects.html">Projects</a>
            <a href="resources.html" class="current">Favorite Resources</a>
            <a href="resume.html">Resume</a>
            <p>&copy; Christina Wilson January 26, 2022</p>
        </nav>
            
        <div class="maincontent">
            <h1>My Favorite Resources</h1>

            <div class="resourceswrapper">
                <div class="div">
                    <h2><a href="https://coolors.co">Coolors</a></h2>
                    <ul>
                        <li>Coolors is a color scheme generator. If you are like me and need some help figuring out which colors look good together, then look throuh coolors trending palettes for ideas. When you move your mouse over the pallets, the hex code for the color shows up and all you have to do is right click it to save the hex code for the color. It's very user friendly!</li>
                    </ul>
                </div>
        
                <div class="div">
                    <h2><a href="https://unsplash.com/">Unsplash</a></h2>
                    <ul>
                        <li>Unsplash is an open source website containing over 2 million free images that anyone can use. If you want a free background or reference photo to use, check out unsplash!</li>
                    </ul>
                </div>
        
                <div class="div">
                    <h2><a href="https://www.travelmath.com/cities-near/">Travel Math</a></h2>
                    <ul>
                        <li>Travel Math returns all the cities nearby a specified city. Currently, I'm considering all the places I would like to get a job at. Preferably, I would like that place to be near at least one of that relatives so these website has been useful for me!</li>
                    </ul>
                </div>
            </div>

        </div>
    
    </div>

</body>
</html>