<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/resume.css"
</head>
<body>
    <div class="pagewrap">
        <nav>
            <a href="../index.html">Christina's Website</a>
            <a href="aboutme.html">About Me</a>
            <a href="projects.html">Projects</a>
            <a href="resources.html">Favorite Resources</a>
            <a href="resume.html" class="current">Resume</a>
            <p>&copy; Christina Wilson January 7, 2022</p>
        </nav>
            
        <div class="maincontent">
            <h1>Resume</h1>

            <div class="resumewrapper">
                <a href="../files/Resume.pdf">Download Resume Here</a>

            </div>
        </div>
    
    </div>

</body>
</html>