#aboutmewrapper {
    width: 75%;
    margin: auto;
    display: flex;
}

#background, #funfacts {
    flex: 1;
    padding-right: 3%;
    padding-left: 3%;
}

img {
    width: 60%;
    height: auto;
    border-radius: 50px;
}