/* Placement of divs */
#resourceswrapper {
    width: 75%;
    margin: auto;
    display: flex;
}

/* Styling divs */
.div {
    border: 2px solid #14213d;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}

.div:hover {
    background-color: #cccccc;
}

.div h2 {
    text-align: center;
}

/* Styling lists */
div li {
    padding: 10px;
}

.div a:hover {
    font-weight: bold;
}
